.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.logo {
	width: 50%;
	/*http://stackoverflow.com/a/24224219/2422566*/
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}