/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 6
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Raleway:900,300,400);
@import url(http://fonts.googleapis.com/css?family=Ovo);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Raleway', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
	font-weight: 900;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 20px; 
	line-height: 30px;
	color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

/* ==========================================================================
   MENU CONFIGURATION
   ========================================================================== */

.menu {
	position: fixed;
	right: -200px;
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}

.menu.menu-open {
	right: 0px;
}

.menu-wrap {
	position: absolute;
	top: 0;
	left: 60px;
	background: #1a1a1a;
	width: 200px;
	height: 100%;
}

.menu h1.logo a {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 0.15em;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 20px;
}

.menu h1.logo a:hover {
	color: #da4e02;
}

.menu img.logo {
	margin: 20px 0;
	max-width: 160px;
}

.menu a {
	margin-left: 20px;
	color: #808080;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.menu a:hover {
	color: #ffffff;
}

.menu a:active {
	color: #ffffff;
}

.menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle; 
	text-align: left;
	width: 25px;
	font-size: 16px;
	line-height: 40px;
	margin: 25px 2px;
}

.menu-close {
	cursor: pointer;
	display: block;
	position: absolute;
	font-size: 14px;
	color: #808080;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top: 20px;
	right: 5px;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

.menu-close:hover {
	color: #ffffff;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.body-push-toright {
	left: 200px;
}

.body-push-toleft {
	left: -200px;
}

.menu,
.body-push {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}

#menuToggle {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: rgba(0,0,0,0.25);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

#menuToggle:hover {
	color: #ffffff;
	background: rgba(0,0,0,0.2);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

/* THEME BUTTON */

.btn-theme {
	background: transparent;
	border: 3px solid #5a5a5a;
	border-radius: 0px;
	font-weight: 900;
	font-size: 15px;
	letter-spacing: 1px;
}

.btn-theme:hover {
	background: #5a5a5a;
	color: white;
}


/* HEADER SECTION */

#h {
	background: url(../img/header.png) no-repeat center top;
	background-color: #ece4e4;
	padding-top: 230px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h h1 {
	color: white;
	font-size: 80px;
}

#h h3 {
	color: white;
	font-weight: 400;
}

#h hr {
	border: 2px solid white;
	width: 90px;
}

/* White Section */

#w {
	padding-top: 50px;
	padding-bottom: 50px;
}

#w h4 {
	border: 2px solid #5a5a5a;
	padding: 15px;
}

#w i {
	font-size: 50px;
}

#w p.text {
	font-size: 16px;
}

#w p.introduction:first-letter {
	font-size: 50px;
	float: left; 
	color: #da4e02;
	line-height: 40px;
	padding-top: 3px; 
	padding-right: 3px;
	font-weight: 900;
}

#w p.testimonial {
	font-size: 18px;
	font-family: 'Ovo', serif;
	font-style: italic;
}

#w p.testimonial img {
	margin-top: 15px;
}

/* Grey Section */
#g {
	padding-top: 80px;
	padding-bottom: 80px;
	background: #f8f8f8;
}

#g h4 {
	border: 2px solid #5a5a5a;
	padding: 15px;
}

#g h5 {
	letter-spacing: 2px;
}

#g i {
	font-size: 30px;
	color: #da4e02;
}

/* Price */
#g .price i {
	font-size: 50px;
	color: #da4e02;
}

#g p price {
	color: #da4e02;
	font-size: 160px;
}


#g p.desc {
	font-size: 14px;
	line-height: 22px;
}

/* CAROUSEL CONF */
#myCarousel {
	background: #f1f1f1;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 60px;
}

/* Footer */
#f {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #2f2f2f;
}

#f p {
	color: #e9f0f2;
}

#f input {
	font-size: 18px;
	min-height: 40px;
	border-radius: 0px;
	line-height: 20px;
	padding: 11px 30px 12px;
	border: 2px solid #e9f0f2;
	margin-bottom: 10px;
	background-color: transparent;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

#f .subscribe-input {
	float: left;
	width: 70%;
	text-align: left;
	margin-right: 2px;
}

#f .subscribe-submit {
	right: 0;
}

#f .btn-contact {
	color: #e9f0f2;
	background-color: transparent;
	border-color: #e9f0f2;
	border-width: 2px;
	font-weight: 400;
	font-size: 19px;
	border-radius: 0px;
}

#f .btn-contact:hover {
	background: #e9f0f2;
	color: #2f2f2f;
}
